<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    {% block head %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>
        <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>

        <title>{% block title %}{% endblock %}This is {{ name }} Website</title>
    {% endblock %}

</head>
<body>
<div id="main_menu">
    <h1><span class="centerGothic">H</span>amid's Homepage</h1>
</div>
<div id="main_content">
    <p>
        <span class="red makeBigger centerGothic">L</span>orem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
    aliqua. Bibendum at varius vel pharetra vel turpis nunc. Risus commodo viverra maecenas accumsan. Eget mauris
    pharetra et ultrices neque ornare. Ipsum nunc aliquet bibendum enim facilisis gravida neque convallis a. Tortor
    posuere ac ut consequat semper viverra nam libero justo. Vel facilisis volutpat est velit egestas dui. Euismod in
    pellentesque massa placerat duis ultricies lacus sed. Auctor eu augue ut lectus. Egestas tellus rutrum tellus
    pellentesque eu tincidunt tortor. Sit amet cursus sit amet dictum sit amet.
    </p>
    <p>
    Quisque non tellus orci ac auctor. A diam sollicitudin tempor id eu nisl nunc mi. Vitae turpis massa sed elementum
    tempus. Amet consectetur adipiscing elit pellentesque habitant morbi tristique senectus et. Viverra suspendisse
    potenti nullam ac tortor vitae purus. Ac orci phasellus egestas tellus rutrum tellus pellentesque eu. In nibh mauris
    cursus mattis molestie a iaculis. Nulla at volutpat diam ut. Ullamcorper velit sed ullamcorper morbi tincidunt
    ornare massa eget egestas. Feugiat in fermentum posuere urna nec tincidunt. Pharetra convallis posuere morbi leo
    urna molestie.
    </p>
    <p>
    Felis eget nunc lobortis mattis aliquam faucibus purus in massa. Quam adipiscing vitae proin sagittis nisl. Amet
    justo donec enim diam vulputate. Aliquam etiam erat velit scelerisque in dictum non consectetur. Velit ut tortor
    pretium viverra. Tempus egestas sed sed risus. Faucibus scelerisque eleifend donec pretium vulputate sapien nec
    sagittis aliquam. Habitasse platea dictumst quisque sagittis purus sit. At quis risus sed vulputate odio ut enim.
    Convallis aenean et tortor at risus. Cum sociis natoque penatibus et magnis. Consectetur lorem donec massa sapien
    faucibus. Egestas congue quisque egestas diam in. At in tellus integer feugiat scelerisque varius morbi enim.
    Vulputate enim nulla aliquet porttitor lacus luctus accumsan. Quis risus sed vulputate odio ut. Aliquet nec
    ullamcorper sit amet risus nullam eget felis. Tortor vitae purus faucibus ornare suspendisse. Ut lectus arcu
    bibendum at varius vel. Semper viverra nam libero justo laoreet.
    </p>
    <p>
    Arcu non odio euismod lacinia at. Enim ut sem viverra aliquet eget sit amet. Enim sed faucibus turpis in eu mi
    bibendum. Nec ullamcorper sit amet risus nullam eget felis. Vulputate ut pharetra sit amet. Semper eget duis at
    tellus at urna condimentum mattis. Magnis dis parturient montes nascetur ridiculus mus mauris. Sed enim ut sem
    viverra. Cursus turpis massa tincidunt dui ut ornare lectus sit. Pretium aenean pharetra magna ac. Pellentesque
    dignissim enim sit amet venenatis urna cursus eget. Ut porttitor leo a diam sollicitudin tempor id eu. Feugiat sed
    lectus vestibulum mattis ullamcorper velit sed ullamcorper. Bibendum enim facilisis gravida neque convallis a cras
    semper auctor. Augue neque gravida in fermentum et sollicitudin ac. Nisl tincidunt eget nullam non nisi.
    </p>
    <p>
    Leo integer malesuada nunc vel risus commodo viverra. Condimentum vitae sapien pellentesque habitant. Mattis enim ut
    tellus elementum. Vehicula ipsum a arcu cursus. Enim tortor at auctor urna nunc. Metus dictum at tempor commodo
    ullamcorper a lacus. Augue lacus viverra vitae congue eu consequat ac. Posuere morbi leo urna molestie at elementum
    eu facilisis. At urna condimentum mattis pellentesque id. Magna fermentum iaculis eu non diam phasellus vestibulum
    lorem. Tristique senectus et netus et malesuada fames ac turpis egestas. Dignissim convallis aenean et tortor at.
    Gravida cum sociis natoque penatibus et magnis dis. Mauris commodo quis imperdiet massa tincidunt nunc pulvinar
    sapien.
    </p>
</div>
</body>
</html>
